<%=render file: '/app/views/layouts/title-content'%>
<div class="container" style="padding-left: 150px; padding-right: 150px">
  <div class="row">
    <div style="text-align:left">
      <h3 style="padding-left: 0px"> Hello! </h3>
      <div>
        <p>

          Having graduated with a Bachelor's degree in Chemical Engineering and a Master's in Software Engineering with
          more than 5 years professional experience, I have a diverse background of knowledge and experience that
          encompasses the areas of Computer Science, Engineering, Mathematics, Natural Sciences and Management. I am
          equipped with the relevant skills in providing solutions for products, services and unprecedented improvements
          in the quality of life overall. I have a passion for solving everyday problems through the use of science and
          technology, and to offer my services where I am able to make my most effective contributions in impacting lives
          positively.
        </p>

        <p>
          I am not only interested in being just a player but also a creator and an innovator in being a part of a group
          that is always seeking ways to provide solutions for improving science and technology that can be applied to
          make the delivery of products and services more efficient and beneficial to society.
        </p>

        <p>

          Please feel free to take a look at my resume and professional projects for further details. Please also visit my
          github page for further details on some projects that I have worked on.
        </p>

        <p>
          I thank you for taking the time out to familiarize yourself with my background and to see how I may be of
          service to meeting your needs. Please click here for contact details.
        </p>

        <p>
          Thank you.
        </p>
      </div>
    </div>
  </div>
</div>
</div>

<%=render file: '/app/views/layouts/footer-content'%>