<%=render file: '/app/views/layouts/title-content'%>
<div class="container" style="background:honeydew; padding-top:300px; padding-bottom:350px;">
	<h1 style="font-size:80px"><center>Coming Soon!!</center></h1>
</div>
		

<%=render file: '/app/views/layouts/footer-content'%>
