<%=render file: '/app/views/layouts/title-content'%>

<div class="container" style="background:honeydew; padding-bottom:200px"> 
	<div class="row" style="padding:50px">
		 <div class="col-md-12" style="text-align:center">
				<div class="conent" style="line-height:150%">
					Wayne Morris, B.Eng, M.Sc.<br>
					Email: waynemorris75@gmail.com<br>
					Github: <a href="https://www.github.com/wmorris75" style="display:inline">wmorris75</a><br>
					Location: Fort Lauderdale, FL <br><br> 	
				</p>

		<!--
			<form>
			    Your name<br>
			    <input type="text" name="cf_name"><br><br>
			    Your e-mail<br>
			     <input type="text" name="cf_telephone"><br><br>
			     Telephone<br>
			    <input type="text" name="cf_email"><br><br>
			    Message<br>
			    <textarea name="cf_message" rows="5" cols="40" ></textarea><br>
			    <input type="submit" value="Send"> 
			    <input type="reset" value="Clear">
			</form>
		-->
		</div>	
	</div>	
</div>

<head>
  	  <style>
      #map-canvas {
        width: 500px;
        height: 400px;
         background-color: #CCC;
         margin-left: 350px;
      }
   
  </head>

 </style>

   <script src="https://maps.googleapis.com/maps/api/js"></script>
   <script>
  		function initialize() {
  			var myLocation = new google.maps.LatLng(26.122438, -80.137314);
  			var mapCanvas = document.getElementById('map-canvas');
  			var mapOptions = {
		    center: myLocation,
		    zoom: 8,
		      mapTypeId: google.maps.MapTypeId.ROADMAP
		    }
    		var map = new google.maps.Map(mapCanvas, mapOptions);

    		 var marker = new google.maps.Marker({
      position: myLocation,
      map: map,
      title: 'Fort Lauderdale, FL'
  });
    map.setOptions({ minZoom: 3, maxZoom: 15 });

  		}
  		google.maps.event.addDomListener(window, 'load', initialize);
	</script>

  <div id="map-canvas"></div>

<%=render file: '/app/views/layouts/footer-content'%>