
<%=render file: '/app/views/layouts/title-content'%>

<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link href="assets/stylesheets/roll_in_animation" rel="stylesheet" type="text/css">
</head>

    <div class="home_container">
        <div class="container" style="background: grey; padding-left:150px; padding-right:150px">
          <div class="row">
            <div style="text-align:left; height:800px">
              <p>
                 Welcome to waynemorris.com which higlights and provides details of my background and professional experience. 
                 I am an engineering graduate who immensely enjoy working to solve problems through science and engineering in order 
                 to positively impact lives and making a better society.
              </p>
              <p>
                 Please feel free to navigate through the content of the site and you may <a href="#" style="display:inline">contact</a> me as you find necessary to explore the possibilities of how I may be of service to meet your needs.
              </p>
              <p>This site was built mainly to provide a public domain for my profile and to use the opportunity to play around
                 with Ruby on Rails, HTML, CSS, Javascript and JQuery in its construction.
              </p>
              <p>
                 Some components of the site are still under construction. These components will be available as soon as they are completed.
              </p>
                
                <div id="areas">
                    <h1 style="color:white"></h1>
               </div>
            </div>
          </div>
        </div>
    </div>

   

<script type="text/javascript">
        var classes = ['Welcome!','I am delighted for your visit to my site', 'I am Wayne Morris','An Engineering Graduate','With degrees both in Software Engineering and Chemical Engineering', 'Experience includes:', 'Engineering and Environmental Consulting', 'Software Development', 'Project Management', 'Please continue to explore my site for further details', 'Thank you for visiting!', "Positively Impacting Lives through Science and Engineering"];
        (function displayClass(i) {
        $('#areas h1').text(classes[i]).fadeIn(1000, function() {
            $(this).delay(600).fadeOut(1000, function() {
                displayClass((i + 1) % classes.length);
            });
        });
    })(0);

 </script>

<%=render file: '/app/views/layouts/footer-content'%>



