// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-title {
  font-style: italic;
  font-size: 18px;
  color: cornsilk;
  line-height: 28px;
  text-align: left;
  background: darkblue;
  padding-bottom: 30px;
  padding-top: 30px;
}

.main-menu{
  background:orange;
  text-align:center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 15px;
}

.border-layout{
  padding-left: 0px;
  text-align: left;
}

.ho_container {
  height: 900px;
  width: 1170px;
  padding-left: 150px;
  padding-right: 150px;
  background: blue;
  border-left-width: 354px;
  margin-left: 375px;
  margin-right: auto;
}

.home_container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 800px;
}

#areas{
  padding-top: 200px;
  font-style: italic;
  font-size: 25px;
  color: cornsilk;
    h1 {
        font-size:50px;
        padding-left: 200px;
    }
}

