
<div id="footer">
<div class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="background: black">
  <div class="container">
    <p class ="navbar-text col-md-12 text-center">
      Created by Wayne Morris.
      <br>Email: waynemorris75@gmail.com<br>
      ©2015 Wayne Morris. All rights reserved.
    </p>
  </div>
</div>
</div> 
<!-- Modal
<div class="modal fade" id="project1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<h4 class="modal-title" id="myModalLabel">Favorite App Page</h4>
</div>
<div class="modal-body">
<img class="img-responsive" src="http://placehold.it/1140x350">
This was my first project in this class. I learned a lot about HTML and CSS.
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
-->
</body>

</html>